nav {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

body {
    background-color: lightgray;
}

h3, h4 {
    color: teal;
}

.navbar-light .navbar-brand {
    background-color: teal;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.nav-item a {
    color: black;
}

.contain-lg {
    background-color: white;
    margin-top: 40px;
    padding: 20px;
}

.selected {
    border: 3px solid teal;
    padding: 0;
}

.table-responsive {
    max-height: 600px;
}

@media (max-width: 600px) {
    body {
        background-color: white;
    }
}

@media (max-width: 990px) {
    .navbar {
        background-color: teal;
    }
    .navbar-light .navbar-toggler {
        border-color: lightgrey;
    }
}